<fieldset class="form-group">
  <div class="row">
    <div class="col-sm-9">
      <label for="api-token-select">OAuth Access Token</label>
      <select class="form-control " id="api-token-select" ng-options="option for option in tokens.availableOptions track by option" ng-model="tokens.selectedToken" style="height: 38px;">
      </select>
    </div>
    <div class="col-sm-3">
      <br>
      <div class="dropdown" style="margin-top:10px;">
        <button class="btn btn-secondary dropdown-toggle btn btn-secondary-outline btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Get Token
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1" style="font-size: 0.9rem; ">
          <button type="button" class="dropdown-item" data-toggle="modal" data-target="#myModal">User Auth</button>
          <a ng-click="authorizeApplication()" class="dropdown-item" role="button" style="margin-top:10px;">Application Auth</a>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Avalanche Login</h4>
      </div>
      <div class="modal-body">
        <form>
          <fieldset class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="" ng-model="login.email" autofocus>
          </fieldset>
          <fieldset class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="" ng-model="login.password">
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="authorizeUser()">Authorize</button>
      </div>
    </div>
  </div>
</div>
