<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar sidebar-main">
      <h1>docs</h1>
      <ul class="nav nav-sidebar">
        <li class="active"><a ui-sref="getting-started">Getting Started<span class="sr-only">(current)</span></a></li>
        <li><a ui-sref="rulebook.intro">Rulebook</a></li>
        <li><a ui-sref="styleguide">Styleguide</a></li>
        <li><a ui-sref="rest-api-v1({ id: 'get-missions' })">Restfull API v1 </a></li>
        <li><a ui-sref="realtime-api-v1">Realtime API v1</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>

    </div>
  </div>
</div>
