<div class="container-fluid" >
  <div class="row">
    <ng-include src="'views/helpers/sidebar.html'"></ng-include>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
      <div class="jumbotron jumbotron-fluid" style="margin-left: -40px; margin-right: -40px; margin-top: -20px;">
        <div class="container">
          <h1 class="display-3">Avalanche Docs</h1>
          <p class="lead">Welcome to the Avalanche Network documentation getting started guide.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card card-block">
            <h3 class="card-title">Rulebook</h3>
            <p class="card-text">Detailed information about all aspects of the Avalanhce Network mechanics.</p>
            <a ui-sref="rulebook({ id: 'intro'})" class="btn btn-primary">View rulebook</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card card-block">
            <h3 class="card-title">Styleguide</h3>
            <p class="card-text">Avalanche logo, color pallet, UI Theme/template and the web font icon set.</p>
            <a href="#" class="btn btn-primary">View styleguide</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card card-block">
            <h3 class="card-title">Restfull API v1</h3>
            <p class="card-text">Detailed information about each API endpoint with examples and tests.</p>
            <a ui-sref="rest-api-v1({ id: 'get-missions' })" class="btn btn-primary">View API Docs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
