<div class="container-fluid" >
  <div class="row">
    <ng-include src="'views/helpers/sidebar.html'"></ng-include>
    <div class="col-sm-4 col-md-3 col-md-offset-2 col-sm-offset-3 sidebar sidebar-secondary">
      <ul class="nav nav-sidebar">
        <li ng-repeat="page in pageList" ng-class="{ active: isActive(page.pageUrl)}">
          <a ui-sref="rest-api-v1({ id: page.slug })">
            <h5>{{page.title}}</h5>
            <p style="margin-bottom: 10px;"><i>{{page.tagline}}</i></p>
          </a>
        </li>

      </ul>
    </div>
    <div class="col-sm-5 col-sm-offset-7 col-md-7 col-md-offset-5 main">
    <div class="api-endpoint">
      <h2 style="margin-bottom: 0px;">{{pageData.title}}</h2>
      <hr>
      <div ng-include="pageData.content_html" class="docs" ng-show="pageData.content_html != undefined"></div>
      <div btf-markdown ng-include="pageData.content_markdown" class="docs" ng-show="pageData.content_markdown != undefined"></div>
    </div>
  </div>
</div>
