<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar sidebar-main">
      <h1>docs</h1>
      <ul class="nav nav-sidebar">
        <li><a ui-sref="getting-started">Getting Started</a></li>
        <li class="active"><a ui-sref="rulebook.intro">Rulebook <span class="sr-only">(current)</span></a></li>
        <li><a ui-sref="styleguide">Styleguide</a></li>
        <li><a ui-sref="rest-api-v1.get-missions">Restfull API v1</a></li>
        <li><a ui-sref="realtime-api-v1">Realtime API v1</a></li>
      </ul>
    </div>
    <div class="col-sm-4 col-md-3 col-md-offset-2 col-sm-offset-3 sidebar sidebar-secondary">
      <ul class="nav nav-sidebar">
        <li ng-class="{ active: isActive('/rulebook/intro')}">
          <a ui-sref="rulebook.intro">
            <h5>Introduction</h5>
            <p class="endpoint-description"><i>What is Avalanche Network?</i></p>
          </a>
        </li>
        <li ng-class="{ active: isActive('/rulebook/mission')}">
          <a ui-sref="rulebook.mission">
            <h5>Mission Basics</h5>
            <p class="endpoint-description"><i>Mechanics of how a mission works</i></p>
          </a>
        </li>
        <li ng-class="{ active: isActive('/rulebook/tasks-validations')}">
          <a ui-sref="rulebook.tasks-validations">
            <h5>Tasks & Validations</h5>
            <p class="endpoint-description"><i>How to automaticaly validate tasks</i></p>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-5 col-sm-offset-7 col-md-7 col-md-offset-5 main" ui-view>

    </div>
  </div>
</div>
